div.view_content_wrap
  .writing_view_box
  .write_div
  img:not(.written_dccon):not([alt="매니저 차단 이미지"]):not(.filter_removed),
div.view_content_wrap .writing_view_box .write_div video:not(.written_dccon):not(.filter_removed) {
  filter: blur(20px) grayscale(50%) saturate(0.7) opacity(0.5);
  clip-path: inset(0 0 0 0);
}

.btnPrev,
.btnNext {
  display: inline-block;
  width: 82px;
  height: 35px;
  padding-right: 2px;
  margin-left: 5px;
  box-sizing: border-box;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  border-radius: 2px;
  background: #3b4890;
  border-color: #29367c;
  text-shadow: 0px -1px #1d2761;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 31px;
  text-align: center;
}

.btnPrev:hover,
.btnNext:hover {
  text-decoration: none;
}
